* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;

  background: linear-gradient(#019875, #9a12b3) no-repeat fixed; 
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}


.add-form {
  text-align: center;
  background-color: antiquewhite;
  padding-bottom: 10px;
  
}


li {
  display: block;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: antiquewhite;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}



.dropdown-filter{
  border-radius: 25px;
}


#add-bookmark {
  margin-bottom: 5px;
}


.input-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-section > * {
  margin: 3px 0;
}

input {
 border-style: solid;
 border-width: 1px;
}

.bookmark-title{
  font-weight: bold;
  cursor: pointer;
}
label{
  font-weight: bold;
}

h4{
  color: red;
}

.error-section{
  text-align: center;
  border: 1px solid red;
}

input[type] {
  width: 100px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
  border-radius: 25px;
}

input[type]:focus {
  width: 250px;
  border-radius: 25px;
}

input[type=number] {
  width: 40px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

input[type=number]:focus {
  width: 40px;
  border-radius: 25px;
}

button {
  border-radius: 25px;
  cursor: pointer;
}

button:hover,
button:focus {
    background: #4b77be;
    box-shadow: 1px 3px #888888;
    visibility: visible;
}



