* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;

  background: linear-gradient(#019875, #9a12b3) no-repeat fixed; 
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
  font-size: 42px;
  text-shadow: 2px 2px #006161;
}


.add-form {
  text-align: center;
  background-color: antiquewhite;
  padding-bottom: 10px;
  box-shadow: 5px 10px #006161;
  border-radius: 25px;
}



li {
  display: block;
  text-align: left;
  padding: 10px;
  width: 100%;
  background-color: antiquewhite;
  margin-bottom: 10px;
  box-shadow: 5px 10px #006161;
}

li:first-child {
  border-radius: 25px 25px 0 0;
}

li:last-child {
  border-radius: 0 0 25px 25px;
}

li > * {
  padding: 2.5px;
  color: black;
}

.hidden {
  display: none;
}

.submit-button {
  margin-top: 5px;
  background-color: #006161;
}

.dropdown-filter{
  border-radius: 25px;
  margin-top: 10px;
  box-shadow: 2px 2px #006161
}


#add-bookmark {
  margin-bottom: 5px;
}


.input-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-section > * {
  margin: 3px 0;
  margin-top: 10px;
}

input {
 border-style: solid;
 border-width: 2px;
 padding-left: 10px;
 width: 100%;
}

.bookmark-title{
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

label{
  font-weight: bold;
}

.error-message-p{
  font-weight: bolder;
  color: #9E0000;
}

.error-section{
  text-align: center;
  border: 1px solid #9E0000;
  border-radius: 25px;
  box-shadow: 2px 2px #9E0000;
  padding: 5px;
}

#cancel-error {
  float: right;
  background-color: #9E0000;
}

input[type] {
  width: 70%;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
  border-radius: 25px;
}

input[type]:focus {
  width: 250px;
  border-radius: 25px;
}



input[type=number] {
  width: 40px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

input[type=number]:focus {
  width: 40px;
  border-radius: 25px;
}

button {
  padding: 15px 25px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #006161;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover,
button:focus {
    background: #4b77be;
    box-shadow: 1px 3px #888888;
    visibility: visible;
}

.star-row {
  float: right;
}

.delete-button {
  margin-top: 10px;
}

@media only screen and (min-width: 600px) {
  li, .add-form, input {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .error-section {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1000px) {
  li, .add-form, input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .error-section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1600px) {
  li, .add-form, input {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }

  .error-section {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
}
